body {
    background: url("http://www.mega-tapety.info/wallpapers/kosmos/gwiazdy/tapety_na_pulpit_mega-tapety.info%20(521).jpg") no-repeat fixed center;
}

input {
    width: 300px;
    height: 30px;
    margin: 10px;
    font-size: large;
}

.back {
    width: 1920px;
    height: 1080px;
    position: fixed;
    z-index: 1;
    text-align: center;
}

.front {
    width: 800px;
    height: 270px;
    padding: 10px;
    text-align: center;
    border-radius: 15%;
    background-color: rgba(0, 73, 164, 0.65);
    display: block;
    margin: 10% auto 0;
}

.buttons {
    float: left;
    width: 800px;
}

.button {
    margin: 10px;
    width: 100px;
    height: 60px;
    display: inline-block;
    background-color: rgba(0, 227, 17, 0.6);
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    white-space: nowrap;
    border-radius: 15%;
    font-size: large;
}
