body {
    background: url("http://localhost:4567/background.jpg") no-repeat fixed center;
}

.header {
    width: 99%;
    height: 50px;
    position: fixed;
    z-index: 1;
}

.header-part {
    width: 25%;
    height: 100%;
    float: left;
}

.header-button {
    margin: 0 auto;
    width: 200px;
    height: 100%;
    border-radius: 15%;
    background-color: rgba(255, 115, 0, 0.61);
    line-height: 50px;
    white-space: nowrap;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
    outline-style: none;
}

.add-item {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border-radius: 15%;
    background-color: rgba(0, 73, 164, 0.65);
}

input {
    margin: 10px 10px 15px;
    width: 70%;
    display: inline-block;
}

#add-movie-button {
    margin: 0 auto;
    width: 40px;
    height: 20px;
    display: block;
    background-color: rgba(0, 227, 17, 0.6);
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    white-space: nowrap;
    border-radius: 15%;
}

.h2-header {
    margin: 0 5px 5px;
}

#categories {
    margin: 0 auto;
    height: 150px;
    text-align: center;
}

.category {
    margin-bottom: 5px;
    height: 50px;
    font-size: xx-large;
    line-height: 50px;
    cursor: pointer;
    border-radius: 15%;
    background-color: rgba(0, 73, 164, 0.65);
    outline-style: none;
}

#add-category-button {
    margin: 0 auto;
    width: 40px;
    height: 20px;
    display: block;
    background-color: rgba(0, 227, 17, 0.6);
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    white-space: nowrap;
    border-radius: 15%;
}

.playlist {
    margin: 0 auto;
    width: 1000px;
    position: relative;
    top: 200px;
    text-align: center;
}

.button {
    margin: 10px auto;
    background-color: rgba(148, 255, 0, 0.51);
    width: 800px;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    text-align: center;
    border-radius: 100%;
    outline-style: none;
    cursor: pointer;
    display: inline-block;
}

.delete-button {
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 10, 0, 0.51);
    display: inline-block;
    border-radius: 20%;
    font-size: small;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}

.ui-selected {
    background: rgba(243, 152, 20, 0.71);
    color: white;
}

#footer {
    width: 78%;
    height: 50px;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(104, 104, 104, 0.51);
    float: left;
}

#info {
    margin: 10px;
    font-size: x-large;
    line-height: 50px;
    white-space: nowrap;
}

#logout-button {
    margin: 10px;
    width: 60px;
    height: 23px;
    background-color: rgba(255, 10, 0, 0.51);
    display: inline-block;
    border-radius: 20%;
    font-size: medium;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}

#remove-user-button {
    margin: 10px;
    width: 150px;
    height: 23px;
    background-color: rgba(255, 10, 0, 0.51);
    display: inline-block;
    border-radius: 20%;
    font-size: medium;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}

#admin-panel {
    width: 22%;
    height: 750px;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
    display: block;
}

#admin-panel-header {
    width: 100%;
    height: 50px;
    z-index: 1;
    background-color: rgba(104, 104, 104, 0.51);
    text-align: center;
    line-height: 50px;
    white-space: nowrap;
    font-size: xx-large;
    cursor: pointer;
}

#admin-panel-content {
    padding-top: 5px;
    background-color: rgba(80, 80, 80, 0.51);
    width: 100%;
    height: 700px;
    z-index: 1;
    text-align: center;
    font-size: xx-large;
}

.user {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    z-index: 1;
    text-align: center;
}

.user-playlist {
    height: 50px;
    z-index: 1;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    white-space: nowrap;
    font-size: xx-large;
    cursor: pointer;
}